if SHIELD_EWING_LEFT

config ZMK_KEYBOARD_NAME
    default "EWing"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_EWING_LEFT || SHIELD_EWING_RIGHT

config ZMK_SPLIT
    default y

endif
